<div class="row">
    <div class="col-md-12">
        <h3>Nuovo in/out</h3>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <repeat group="{{ @categoria1 }}" value="{{ @item }}">
            <a class="btn btn-primary btn-block btn-lg" href="{{@BASE}}{{ 'nuovo_2', 'cat1='.@item.id | alias }}">{{ @item.descrizione }}</a>
        </repeat>
    </div>
</div>
<div class="row mt-3">
    <div class="col-md-12">
        <h3>Lista ultimi 10 movimenti</h3>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <table class="table table-striped">
            <tbody>
                <repeat group="{{ @ultimi10 }}" value="{{ @movimento }}">
                    <tr>
                        <td>{{ @convertiData(@movimento.giorno) }}</td>
                        <td>{{ @euro(@movimento.importo) }}</td>
                        <td>{{ @unisci(@movimento.cat1, @movimento.cat2, @movimento.cat3, @movimento.cat4) }}</td>
                        <td>{{ @movimento.note }}</td>
                        <th scope="row" class="tabella-btn"><a href="inout/delete/{{ @movimento.id }}" class="btn btn-danger btn-sm">X</a></th>
                    </tr>
                </repeat>
            </tbody>
        </table>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <h3>Statistiche</h3>
    </div>
</div>
<div class="row">
    <div class="col-md-4">
        <div class="alert alert-success" role="alert">
            <h4 class="alert-heading"><i class="fas fa-plus-square"></i> Entrate</h4>
            <p>Totale di tutte le entrate</p>
            <hr>
            <h5 class="mb-0">{{ @euro(@totentrate) }}</h5>
        </div>
    </div>
    <div class="col-md-4">
        <div class="alert alert-danger" role="alert">
            <h4 class="alert-heading"><i class="fas fa-minus-square"></i> Uscite</h4>
            <p>Totale di tutte le uscite</p>
            <hr>
            <h5 class="mb-0">{{ @euro(@totuscite) }}</h5>
        </div>
    </div>
    <div class="col-md-4">
        <div class="alert alert-dark" role="alert">
            <h4 class="alert-heading"><i class="fas fa-wallet"></i> Differenza</h4>
            <p>Differenza tra entrate e uscite</p>
            <hr>
            <h5 class="mb-0">{{ @euro(@differenza) }}</h5>
        </div>
    </div>
</div>
<hr>
<div class="row">
    <div class="col-md-12">
        <h3>Nuovo todo</h3>
        <form method="POST" action="{{@BASE}}{{ 'todo_add' | alias }}" class="mb-4">
            <div class="form-row align-items-center">
                <div class="col-sm-8 my-1">
                    <input type="text" class="form-control" id="todo" placeholder="Todo ..." name="todo">
                </div>
                <div class="col-sm-4 my-1">
                    <button type="submit" class="btn btn-primary btn-block">Registra</button>
                </div>
            </div>
        </form>
        <h3>Lista todo</h3>
        <table class="table table-striped">
            <tbody>
                <repeat group="{{ @todos }}" value="{{ @todo }}">
                    <tr>
                        <td>{{ @todo.todo }}</td>
                        <th scope="row" class="tabella-btn"><a href="todo/delete/{{ @todo.id }}" class="btn btn-danger btn-sm">X</a></th>
                    </tr>
                </repeat>
            </tbody>
        </table>
    </div>
</div>