<div class="collapse navbar-collapse" id="navbarsExampleDefault">
  <ul class="navbar-nav mr-auto">
    <li class="nav-item">
      <a class="nav-link <check if=" {{ @title=='Homepage' }} "><true>active</true></check> " href="{{@BASE}}{{ 'home' | alias }}">
        Home
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link <check if=" {{ @title=='User' }} "><true>active</true></check>" href="{{@BASE}}{{ 'user' | alias }}">
        User
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link <check if=" {{ @title=='Logout' }} "><true>active</true></check>" href="{{@BASE}}{{ 'logout' | alias }}">
        Logout
      </a>
</li>
  </ul>
</div>
