<div class="row">
    <div class="col-md-12">
        <form method="POST" action="{{@BASE}}{{ 'user_save' | alias }}" name="login_form">
            <div class="form-group">
                <label for="username">Username</label>
                <input type="text" class="form-control" id="username" placeholder="Username" name="username">
            </div>
            <div class="form-group">
                <label for="pass">Password</label>
                <input type="password" class="form-control" placeholder="Password" name="pass" id="pass" onkeydown="if (event.keyCode == 13) { formhash(this.form, this.form.pass); this.form.submit(); return false; }">
            </div>
            <input type="hidden" name="password">
            <input type="button" class="btn btn-success btn-block btn-lg" value="SAVE" onclick="formhash(this.form, this.form.pass);" />
        </form>
    </div>
</div>

<script src="{{@BASE}}/js/hashes.min.js"></script>
<script>
    function formhash(form, password) {
        // Crea un elemento di input che verrà usato come campo di output per la password criptata.
        var p = document.createElement("input");
        // Aggiungi un nuovo elemento al tuo form.
        form.appendChild(p);
        p.name = "p";
        p.type = "hidden"

        var SHA512 = new Hashes.SHA512;
        p.value = SHA512.hex(password.value);
        // Assicurati che la password non venga inviata in chiaro.
        password.value = "";
        // Come ultimo passaggio, esegui il 'submit' del form.

        form.submit();
    }
</script>